body {
    padding-left: 20px;
    background: #3acd9e;
    color: white;
    padding-bottom: 50px
}

.main {
    /* padding: 10px; */
    color: rgb(163, 18, 18);
    border: 1px solid rgb(184, 48, 48);
}
.kolona-tre {
    padding-top: 7px;
}

#techstitution {
    font-weight: 700;
}
.numri-seksionit {
    display: flex;
}
.numri-seksionit > .number {
    font-size: 34px;
    padding-right: 14px;
    float: left;
}
h3, .numri-seksionit > .number {
    color: #232a3d;
}
h3, h4 {
    font-weight: 700;
}
.numri-seksionit > .horizontal-line-div {
    width: 380px;
}
.horizontal-line-div > hr {
    top: 21px;
    position: relative;
    margin: 0;
    border-top: 1px solid #2b2b2b;
}
.form-group > label, .kolona-tre {
    font-weight: 500;
    font-size: 1.1em;
}
.dropmenyja {
    width: 70%;
}
.butonat {
    padding-left: 200px;
}
.butonat > .btn {
    background-color: #232a3d;
}